@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=DM+Sans:opsz@9..40&display=swap');

*{
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(155, 206, 206);
    font-size: 14pt;
    font-family: 'DM Sans', sans-serif;

}

body{
    background-color: rgb(80, 112, 137);
    color: aqua;

}
#tituloPrincipal{
    color: aquamarine;
    font-family: 'Climate Crisis', sans-serif;
    font-size: 25pt;
    border-style: double;
    text-align: center;
    letter-spacing: 5pt;
}
h1{
    color: aquamarine;
    font-family: 'DM Sans', sans-serif;;
    font-size: 25pt;
    border-style: double;
    text-align: center;
}

h3{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-style: italic;
    text-align: center;
    background-color: rgb(57, 138, 95);
    opacity: 0.5;

}
#descripcionTexto{
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}
#cabezeraPrincipal{
    font-family: 'DM Sans', sans-serif;
    font-size: 14pt;
    background-color: rgb(29, 173, 125);
    color: #f8e2e2;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

#logoimg{
    /* left: 25px; */
    /* margin-left: -240px; */
    cursor: pointer;
    position: absolute;
    left: 25px;
}

#logoimg img{
    /* padding: -45px; */
    height: 70px;
    width: auto;
    transition: all 0.3s;
    padding: 0;
}
#logoimg img:hover{
    transform: scale(1.2);
}
#nav-header{
    list-style: none;
    position: relative;
    z-index: 1000;
}
#nav-header li{
    display: inline-block;
    padding: 0 20px;
    /* z-index: 1000; */
}

#nav-header li:hover,
.overlay a:hover{
    transform: scale(1.4);
}
#nav-header li a:hover{
    color: rgb(38, 31, 182);
}

#nav-header a{
    font-size: 14pt;
    color: azure;
    /*text-decoration: none;*/
}
#btncontact, .menu{
    position: absolute;
    right: 25px;
    /* align-self: auto; */
}
#cabezeraPrincipal .btn button,
#cabezeraPrincipal .menu button
{
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#cabezeraPrincipal .btn button:hover,
#cabezeraPrincipal .menu button:hover{
    background-color: #e2f2f8;
    color: #ffbc0e;
    transform: scale(1.1);
}



#nav-header li:hover .hijos{
    display: block;
    position: absolute;
    text-align: center;
    /* z-index: 1000; */
}
.submenu .hijos{
    padding-top: 5pt;
    font-size: 14pt;
    display: none;
    background-color: rgb(29, 173, 125);
    position: absolute;
    padding: 20 20px;
    width: 115pt;
    background-size: auto;
    top: 100%;
    /* z-index: 1000; */
}

.hijos li{
    height: 25pt;
    width: 115pt;
    padding-top: 5pt;
    /* box-sizing: border-box; */
    box-shadow: 2px 2px 5px rgba(35, 71, 71, 0.5);
    background-color: rgb(29, 173, 125);
    text-align: center;
    line-height: 25.3pt;
    /* border-style: solid;
    border-top: none;
    border-color: rgb(35, 71, 71); */
    /* border-block-width: 5pt;
    border-radius: 15pt; */
    /* border-width: 115pt; */
}
/*.submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}*/

.menu{
    display: none;
}
@media screen and (max-width: 1124px){
    #nav-header li, .btn{
        display: none;
    }
    .menu{
        display: block;
        position: absolute;
        right: 25px;
    }
}

#cabezeraPrincipal a{
    text-decoration: none;
}

#cabezeraPrincipal .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(35, 71, 71, 0.5);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

#cabezeraPrincipal .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cabezeraPrincipal .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s esase 0s;
    font-weight: 700;
    color: #eceff1;
}

#cabezeraPrincipal .overlay a:hover,
#cabezeraPrincipal .overlay a:focus{
    color: #ffbc0e;
}
#cabezeraPrincipal .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}
@media screen and (max-height:450px){
    #cabezeraPrincipal .overlay a{
        font-size: 20px;
    }
    #cabezeraPrincipal .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 15px;
    }
}


