@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

*{
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(155, 206, 206);
    font-size: 14pt;
    font-family: 'DM Sans', sans-serif;

}

body{
    background-color: rgb(80, 112, 137);
    color: aqua;
    
}
h1{

    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25pt;
    font-style: oblique;
    border-style: double;
    text-align: center;
}
#navegatorLetter{
    color: azure;
    font-size: 15pt;
    font-family: 'DM Sans', sans-serif;
}
h3{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-style: italic;
    text-align: center;
    background-color: rgb(57, 138, 95);
    opacity: 0.5;
    
}
#descripcionTexto{
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}
#cabezeraPrincipal{
    font-family: 'DM Sans', sans-serif;
    font-size: 14pt;
    background-color: rgb(29, 173, 125);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

#logoimg{
    cursor: pointer;
}

#logoimg img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
#logoimg img:hover{
    transform: scale(1.2);
}
#nav-header{
    list-style: none;
    position: relative;
    z-index: 1000;
}
#nav-header li{
    display: inline-block;
    padding: 0 20px;
    /* z-index: 1000; */
}

#nav-header li:hover{
    transform: scale(1.4);
}
#nav-header li a:hover{
    color: rgb(38, 31, 182);
}

#nav-header a{
    font-size: 700;
    color: azure;
    text-decoration: none;
}
#nav-header li:hover .hijos{
    display: block;
    position: absolute;
    text-align: center;
    /* z-index: 1000; */
}
.submenu .hijos{
    padding-top: 5pt;
    font-size: 10pt;
    display: none;
    background-color: rgb(29, 173, 125);
    position: absolute;
    padding: 20 20px;
    width: 115pt;
    background-size: auto;
    top: 100%;
    /* z-index: 1000; */
}

.hijos li{
    height: 25pt;
    width: 115pt;
    padding-top: 5pt;
    /* box-sizing: border-box; */
    box-shadow: 2px 2px 5px rgba(35, 71, 71, 0.5);
    background-color: rgb(29, 173, 125);
    text-align: center;
    line-height: 25.3pt;
    /* border-style: solid;
    border-top: none;
    border-color: rgb(35, 71, 71); */
    /* border-block-width: 5pt;
    border-radius: 15pt; */
    /* border-width: 115pt; */
}
/*.submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}*/
