@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=DM+Sans:opsz@9..40&family=Dancing+Script:wght@700&display=swap');

*{
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(29, 41, 41);
    font-size: 14pt;
    font-family: 'DM Sans', sans-serif;

}

body{
    /* background-color: #b30000;
    background-color: #98DBC6; */
    background-color: rgb(90, 198, 162);

    /* color: aqua; */

}
#tituloPrincipal a{   
    color: black;
    text-shadow: black;
    font-family: 'Dancing Script', cursive;;
    font-size: 40pt;
    font-style: oblique;
    border-style: double;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 0px 20px;
    border-width: 15px;
    width: max-content;
    height: min-content;
    margin: 0 auto;
}
h1{
    color: aquamarine;
    font-family: 'DM Sans', sans-serif;
    font-size: 25pt;
    /* border-style: double; */
    text-align: center;
}
h2{
    /* background-color: #ffbc0e; */
    color: #eceff1;
    text-align: left;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    /* padding: 0 0;s */
    margin: 10px auto;
}
h3{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-style: italic;
    text-align: center;
    background-color: rgb(57, 138, 95);
    opacity: 0.5;

}
#descripcionTexto{
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}
#cabezeraPrincipal{
    font-family: 'DM Sans', sans-serif;
    font-size: 14pt;
    background-color: rgb(29, 173, 125);
    background-color: #98DBC6;
    color: black;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    margin-top: 10px;
    border-radius: 50px;
}

#logoimg{
    cursor: pointer;
    position: absolute;
    align-items: center;
    left: 25px;
}

#logoimg img{
    /* padding: -45px; */
    height: 70px;
    width: auto;
    transition: all 0.3s;
    padding: 0;
}
#logoimg img:hover{
    transform: scale(1.2);
}
#nav-header{
    list-style: none;
    position: relative;
    z-index: 1000;
}
#nav-header li{
    display: inline-block;
    padding: 0 20px;
}

#nav-header li:hover,
.overlay a:hover{
    transform: scale(1.4);
}
#nav-header li a:hover{
    color: white;
}

#nav-header a{
    font-size: 14pt;
    /* color: azure; */
    color: black;
}
#btncontact, .menu{
    position: absolute;
    right: 30px;
    /* align-self: auto; */
}
#cabezeraPrincipal .btn button,
#cabezeraPrincipal .menu button
{
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#cabezeraPrincipal .btn button:hover,
#cabezeraPrincipal .menu button:hover{
    background-color: #e2f2f8;
    color: #ffbc0e;
    transform: scale(1.1);
}



#nav-header li:hover .hijos{
    display: block;
    position: absolute;
    text-align: center;
}
.submenu .hijos{
    padding-top: 5pt;
    font-size: 14pt;
    display: none;
    /* border-radius: 25px; */
    /* background-color: rgb(29, 173, 125); */
    /* background-color: #98DBC6; */
    /* background-color: #ffbc0e; */
    position: absolute;
    padding: 0 0;
    width: 115pt;
    background-size: auto;
    top: 100%;
}

.hijos li{
    height: 25pt;
    width: 115pt;
    padding-top: 5pt;
    box-shadow: 2px 2px 5px rgba(35, 71, 71, 0.5);
    background-color: #98DBC6;
    text-align: center;
    line-height: 25.3pt;
}

.menu{
    display: none;
}
#tituloPrincipalmini a{
    display: none;
    text-shadow: black;
    font-family: 'Dancing Script', cursive;;
    font-size: 30pt;
    font-style: oblique;
    border-style: double;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 0px 20px;
    border-width: 15px;
    width: max-content;
    height: min-content;
    margin: 0 auto;
}
@media screen and (max-width: 1124px){
    #nav-header li, .btn{
        display: none;
    }
    .menu{
        display: block;
        position: absolute;
        right: 25px;
    }
    #tituloPrincipal a{
        display: none;
        
    }
    #tituloPrincipalmini a{
        display: inline;
        color: black;
        /* position: relative; */
        font-size: 25pt;
        /* top: 75px; */
        border-width: 5px;
        /* padding: 0px 10px; */
        /* margin: 0 auto; */
        
    }
    #tituloPrincipalmini a:hover{
        /* transform: scale(); */
        color: #eceff1;
        font-size: 28pt;
        /* text-shadow: black; */
        text-shadow: -1px -1px 1px black,
        1px -1px 1px black,
        -1px 1px 1px black,
        1px 1px 1px black;
        border-color: black;
        transition: 1s;
    }
    
}

#cabezeraPrincipal a{
    text-decoration: none;
}

#cabezeraPrincipal .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(35, 71, 71, 0.5);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

#cabezeraPrincipal .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cabezeraPrincipal .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s esase 0s;
    font-weight: 700;
    color: #eceff1;
}

#cabezeraPrincipal .overlay a:hover,
#cabezeraPrincipal .overlay a:focus{
    color: #ffbc0e;
}
#cabezeraPrincipal .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}
@media screen and (max-height:450px){
    #cabezeraPrincipal .overlay a{
        font-size: 20px;
    }
    #cabezeraPrincipal .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 15px;
    }
}
/* Los container*/
.container{
    background-color: rgb(182, 238, 246);
    /* background-color: red; */
    /* font-size: 14pt; */
    /* width: fit-content; */
    /* height: 100px; */
    /* position: relative;s */
    text-align: center;
    padding: 15px 15px;
    margin: 0px 0px ;
}

.fondo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content; /* Ajustar el alto según sea necesario */
    width: fit-content;
    /* margin: 10px 10px;*/
    padding: 10px 0px;
    /* margin: 0 0; */
    background-color: cadetblue;
    position: relative;
    top: 50px;
}

.img-container{
    padding: 0px 10px;
    
}
.img-container:hover{
    transform: scale(1.01);
    transition: 1s;
    
}

#padre h2{
    position: relative;
    /* top: 20px; */
    margin: auto 0;
}
#padre{
    /* background-color: #ffbc0e; */
    /* text-align: center; */
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 50px 20px;
    /* background-color: yellowgreen; */
    /* vertical-align: middle; */
    display: block;
    /* height: auto; */
}